.form-container{
    height: 100vh;
    background-image: url('../../../images/bannerbackground.png');
    position: relative;
}
.full-form{
    
    background-color: rgba(247, 241, 242, 0.909);
    padding: 30px;

}