*{
    margin: 0;
    padding: 0;
}
.form-container{
    height: 100%;
    background-image: url('../../../images/bannerbackground.png');
    /* background-position: center; Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    position: relative;

}
.full-form{
    
    background-color: rgba(247, 241, 242, 0.909);
    padding: 30px;

}