/* body{
    background-color: rgb(244, 241, 238);
} */
.text-box{
    width: 50%;
}
.banner{
    position: relative;
}
.banner a{
    text-decoration: none;
}
.home-header-section{
    height: 100vh;
    /* background-color: blue; */
}
.unselected{
    color: aqua;
}
a{
    font-size: larger;
    font-weight: bold;
    color: rgb(165, 19, 19);
}
a:hover{
    color: aquamarine;
}
a.active{
    color: rgb(165, 118, 42);
    font-weight: bolder;
    text-decoration: underline;
}
.last-checkout:hover{
    background-color: aquamarine;
}
.lower-menu{
    /* width: 10rem; */
}

@media only screen and (max-width: 600px ) {
    .home-header-section{
    height:auto;
    /* border: 3px solid red; */
   
  
}
.text-box{
    width: 80%;
}
}
